<!doctype html>
<html>
  <body>
    <div class="content">
    <%= yield %>
    </div>

    <div class="active-users"
      <h4>There are <%=@users.size%> users with <%=count_interests%> total interests</h4>
    </div>
  </body>

</html>