<!doctype html>
<html>
  <body>
    <h2>Index Contents</h2>
      <ul>
        <% @files.each do |file| %>
          <li>
            <a href="<%=file%>"><%= file %></a>
          </li>
        <% end %>
      </ul><br><br>

    <h2>Options</h2>
      <p>
        <%if params[:sort] == 'desc' %>
          <a href="/">Sort Ascending</a>
        <% else %>
          <a href="/?sort=desc">Sort Decending</a>
        <% end %>
      </p>
  </body>
</html>