<form action="/create" method="post">
  <label for="content">Please enter a filename:</label>
  <div>
    <input type="text" name="filename" value="<%= @doc_name || '' %>" size="50">
  </div>
  <button type="submit">Create</button>
<form>
