<h2>Welcome New User!</h2>

<div class="login">
  <form action="/users/signup" method="post">
    <p>Desired username:
      <input type="text" name="username" value="">
    </p>
    <p>Please enter a desired password:
      <input type="password" name="password_1" value="">
    </p>
    <p>Desired please confirm your password:
      <input type="password" name="password_2" value="">
    </p>

    <button type="submit">Submit</button>

    <button>
      <a href="/">Cancel</a>
    </button>
  </form>
</div>